aiogram
Pillow
requests
loguru
pyppeteer
APScheduler
aiosqlite
pydantic
beautifulsoup4
aiohttp
psycopg2
asyncpg
pytest
pdf2image
ruff
aiocache
pytest-asyncio
tenacity
python-dotenv
flake8
pydocstringformatter
pyupgrade
pylint_pydantic
hypothesis
tox
black
pre-commit
mypy
flake8-docstrings
pydocstringformatter
pyupgrade
